3.Machine Learning Fundamentals/4.Project :Build a ML Workflow For Scones Unlimited On Amazon SageMaker/Step-Functions.jsonl
{
  "StartAt": "serializeImageData",
  "States": {
    "serializeImageData": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:653035930823:function:serializeImageData", 
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Next": "classifyImage"
    },
    "classifyImage": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:653035930823:function:classifyImage", 
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "filterInferences"
    },
    "filterInferences": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:653035930823:function:filterInferences", 
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}
